{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Edit plan</h2>
<p>You are editing object: <i>{{ obj }}</i></p>
<form action="{% url form.editAction obj.id%}" method="post">
	{% csrf_token %}
	<div class="form-group">
	{{form.as_p}}
	<input type="submit" class="btn btn-success form-control" value="Update" />
	</div>
</form>
<a href="{{ request.META.HTTP_REFERER }}">Go back</a>
<!--
<table class="table">


<tr>
	<th>Id</th>
	<th>Name</th>
	<th>Muscle group</th>
</tr>
{% for ex in exs %}
	
    <tr>
		<td>{{ ex.id }}</td>
		<td>{{ ex.excercise }}</td>
		<td>{{ ex.muscle_group }}</td>
	</tr>
{% endfor %}

</table>
-->
</div>

{% endblock %}