{% extends "main.html" %}


{% block content %}

{% load bootstrap %}


<div class="col-sm-4">
	<h2>Create</h2>	
	<div class="form">
		<form class="form-group" action="{% url 'gym:section-create' routine.id %}" method="post">{% csrf_token %}
		{{form|bootstrap}}	
		<input type="submit" class="btn btn-success" value="Add" />
		</form>
	</div>
</div>

<div class="col-sm-8">
	<h2>Routine sections</h2>

	<table class="table">
	<thead>
		<th>Id</th>
		<th>Excercise</th>
		<th>Sets</th>
		<th>Target</th>
		<th>Delete</th>
		<th>Edit</th>
	</thead>
	{% for section in objs %}
		
		<tr>
			<td>{{ section.id }}</td>
			<td>{{ section.excercise}}</td>
			<td>{{ section.sets}}</td>
			<td>{{ section.target}}</td>
			<td><a class="btn btn-danger" href="{% url 'gym:section-delete' section.id routine.id%}">Delete</a></td>
			<td><a class="btn btn-primary" href="{% url 'gym:section-update' section.id  %}">Edit</a></td>
		</tr>
	{% endfor %}

	</table>

</div>

{% endblock %}