{% extends "main.html" %}


{% block content %}

<!-- Loads django-bootstrap-form-->
{% load bootstrap %}

<h1>Workouts</h1>
<legend></legend>

<div class="col-md-4">
	<h2>Add new</h2>
	
	<div class="form">
		<form class="form-group" action="{% url 'gym:workouts-add' %}" method="post">{% csrf_token %}
		{{form|bootstrap}}	
		<input type="submit" class="btn btn-success" value="Add" />
		</form>
	</div>
</div>

<div class="col-md-8">	

	<h2>Workout list</h2>

	<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Type</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
	</thead>
	{% for workout in workouts %}
		
		<tr>
			<td>{{ workout.id }}</td>
			<td><a href="{% url 'gym:workouts-view' workout.id %}">{{ workout.name }}</a></td>
			<td>{{ workout.type }}</td>
			<td><a href="{% url 'gym:workouts-delete' workout.id %}">Delete</a></td>
			<td><a href="{% url 'gym:workouts-update' workout.id %}">Edit</a></td>
		</tr>
	{% endfor %}

	</table>
</div>



{% endblock %}