venv
*.pyc
staticfiles
.env
db.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Virtual environments
myenv34/*
myenv/*

# Heroku
Procfile
Procfile.windows
runtime.txt
app.json
