<!DOCTYPE html>
<html>
<head>

	<title>My app</title>
		
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{% load staticfiles %}
	{% load json_filter %}
	
	<!-- Javascript X -->
	<script type="text/javascript" src="{% static 'jquery-2-3-1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap-3-3-7.min.js' %}"></script>
	
	
	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  />
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	
	<!-- React js -->
	<script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/4.1.1/react-router-dom.min.js"></script>
	
	<!-- Fetch -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
	
</head>

<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	  
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		  </button>
		  <a class="navbar-brand" href="#">iLeader</a>
		</div>
		
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
			  <li class="active">
				<a href="/"><i class="fa fa-home"></i> Home</a>
			  </li>
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<i class="fa fa-flash"></i> Gym<span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
					<li class="dropdown-header">Template</li>
					<li><a href="{% url 'gym:plan-list' %}">Plan</a></li>
					<li><a href="{% url 'gym:routine-list' %}">Routine</a></li>
					<li><a href="{% url 'gym:section-list' %}">Section</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Training</li>
					<li><a href="{% url 'gym:workout-list' %}">Workouts</a></li>				
					<li><a href="{% url 'gym:sets' %}">Sets</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Manage</li>
					<li><a href="{% url 'gym:muscleGroups' %}">Muscle Group</a></li>
					<li><a href="{% url 'gym:excercise-list' %}">Excercise</a></li>
				  </ul>
			  </li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<i class="fa fa-user"></i> User<span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
					{% if user.is_authenticated %}
						<li><a href="#">{{user.get_username}}</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
						<li><a href="{% url 'login' %}">Login</a></li>
					{% endif %}
				  </ul>
			  </li>
			</ul>
		</div>
	  </div> <!-- End container fluid -->
	</nav>

	<div class="container">		
		<div id="render"></div>
	</div>
	
	
	<script type="text/babel" src={% static 'components.js' %}></script>
	
	<script type="text/babel">
		import Button from {% static 'components.js' %};
		// For this demo, we are using the UMD build of react-router-dom
		const {
		  HashRouter,
		  Switch,
		  Route,
		  Link
		} = ReactRouterDOM

		

		const Home = () => (
		  <div>
			<h1>Welcome to the Tornadoes Website!</h1>
		  </div>
		  
		)

		// The Main component renders one of the three provided
		// Routes (provided that one matches). Both the /roster
		// and /schedule routes will match any pathname that starts
		// with /roster or /schedule. The / route will only match
		// when the pathname is exactly the string "/"
		const Main = () => (
		  <main>
			<Switch>
			  <Route exact path='/' component={Home}/>

			</Switch>
		  </main>
		)

		// The Header creates links that can be used to navigate
		// between routes.
		class Header extends React.Component {
			render(){
				return(
				  <header>
					<nav>
					  <ul>
						<li><Link to='/'>Home</Link></li>

					  </ul>
					</nav>
				  </header>
			  )
		  }
		}

		class App extends React.Component {
			render(){
				return <div><Header /><Main /><Button/></div>;
			}
		}

		// This demo uses a HashRouter instead of BrowserRouter
		// because there is no server to match URLs
		ReactDOM.render((
		  <HashRouter>
			<App />
		  </HashRouter>
		), document.getElementById('render'))

	</script>
	
</body>

</html>
