container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python myproject/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python myproject/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python myproject/manage.py collectstatic --noinput"
  

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "project.settings"
    "PYTHONPATH": "/opt/python/current/app/myproject:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: myproject/project/wsgi.py