packages:
  yum:
    mod24_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/myproject/project/wsgi.py
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app/myproject:$PYTHONPATH \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDtjCCAp4CCQD88/HdbCo6wjANBgkqhkiG9w0BAQsFADCBnDELMAkGA1UEBhMC
      RkkxEjAQBgNVBAgMCVBpcmthbm1hYTEQMA4GA1UEBwwHVGFtcGVyZTEZMBcGA1UE
      CgwQbWlrYWVsYWhvbmVuLmNvbTEeMBwGA1UEAwwVYXBwMS5taWthZWxhaG9uZW4u
      Y29tMSwwKgYJKoZIhvcNAQkBFh1taWthZWxhaG9uZW5AbWlrYWVsYWhvbmVuLmNv
      bTAeFw0xNzA3MjQxMjM3MDhaFw0xODA3MjQxMjM3MDhaMIGcMQswCQYDVQQGEwJG
      STESMBAGA1UECAwJUGlya2FubWFhMRAwDgYDVQQHDAdUYW1wZXJlMRkwFwYDVQQK
      DBBtaWthZWxhaG9uZW4uY29tMR4wHAYDVQQDDBVhcHAxLm1pa2FlbGFob25lbi5j
      b20xLDAqBgkqhkiG9w0BCQEWHW1pa2FlbGFob25lbkBtaWthZWxhaG9uZW4uY29t
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2ico9ujGcAiyHc6M+wXF
      AR4/zh5E4Kwwrl4xQ6RFiL5/7Vo3jVZfszAD+ghr7DCCEW9QxVcfWt4sMZZWYGVH
      uGykja1K2/uN0VnYgflUhAQ0RxoqCnOUb1YJtkr64okx/AaUHUctIeeqjg7YgkRA
      z04QZ6PQ47qM1D/1QUzaIXvCXh3qC3Jh26IFiM/W9R7saWBT9WuN2G1a4s5sEU9B
      hnvia0bt40A74WyOa9q5YyvbkAdEyRWzBCcqc8FbO8AHlkdz9mBlFiGI+zESAlE+
      rQJ3onboRfD5Zra145AnaelffvQCOXds1zdeXkv+h0uXSNNbQnXpiVUiSs2a+hr3
      JwIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQBO8cfIJQIiMS0/XyKv2Gs8ibych2or
      9B4TiLyXRKgzzc4qoFLHdl7WNg1HqeMTuTPDa21wRJqItI4fI4sYWcmN8EHTq2rU
      q3aCzmV3rMS2BjTCbHreAFZ+z7JeKPkONTU4o1Wn+fIvSVkrQZg0X7v1oOyqisMV
      djYCAJyWna1moJRVK4NcM3owmlGIhyR695reHnbeKPgcDquSKnB9Hj4U4ypof6RP
      zi8ODBebmf7tsk4IS/G22EV8v1lbskfr67vTD2lNJhueJRqzrF8bpkvTb+XyBtX0
      IC5w8VgMPSDun36N+twZpC6MD6HTMbDowSJLDUBFKwCSMT6ktePXzPHS
      -----END CERTIFICATE-----
       
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA2ico9ujGcAiyHc6M+wXFAR4/zh5E4Kwwrl4xQ6RFiL5/7Vo3
      jVZfszAD+ghr7DCCEW9QxVcfWt4sMZZWYGVHuGykja1K2/uN0VnYgflUhAQ0Rxoq
      CnOUb1YJtkr64okx/AaUHUctIeeqjg7YgkRAz04QZ6PQ47qM1D/1QUzaIXvCXh3q
      C3Jh26IFiM/W9R7saWBT9WuN2G1a4s5sEU9Bhnvia0bt40A74WyOa9q5YyvbkAdE
      yRWzBCcqc8FbO8AHlkdz9mBlFiGI+zESAlE+rQJ3onboRfD5Zra145AnaelffvQC
      OXds1zdeXkv+h0uXSNNbQnXpiVUiSs2a+hr3JwIDAQABAoIBAQDD4JeSo83RuK0d
      wGGr3zFV4LBPxbP4vAN1/VNktfJNZyd8mh35RU3mmb1oWvl0eNXBC99NYf3gXE74
      M1HZefcc7EgQgkIOJd/f0zlo8tPlOdUq5p5LBh6InYtY6Bg/IgsEjW+enlMy902Y
      AlJ7HQfIXAK03E1qvQ1IYyk2+ed+WXV+xYyOhL9nnilbk1wjat09Y1FXIa9wxzxm
      /wiSZ6GiHz+sV33IXqEh8puXZgV1WFbBOEwPinMKQ2VGjkeWDQ/DYDYIKQWUmX/N
      nzXAzjTzztf+nHxrUVv+73wN53wUfm5lZLc8uM9obTIQm8hrQgcRQF9ASfcc2dHw
      imPucikxAoGBAPfLolfyasp+jRMf/EGksuBQvxVLrGEQEcZgOolCfh1acJ+6aJgW
      mPnkaLLJglj9+0BbrMq4c3enPRXltyvZ0b84oqUJixwpYJAFuK2er+iqdWxQRh0Q
      IWbPJX1Yl2zDSyoZUgy+ncepRjxHGCOeIvyO31mtTYvLnzOg0otAu7/vAoGBAOFg
      RSHvZjRQ8RPvVXG95nF36h2IYQZx3lyGCwYdKaMgeO9vOpA3pUWUSwdBdpYgKI2f
      2zISGhikwDbERiIWFBsg2M16q12MI7ZIr1YSaH+3oQkEiJ2Mk4/KAzb6t+HGMgcB
      RcMhcvHKCDbdXU9hPJsulNjxTGhYBAcGVG8qBoRJAoGAUcplS6I4nZ4n8qgcG47B
      fEkqyVyxCVjEhTY+HBBWkFnJ0u80lv7ef51k8Z6R583toNChuEgp1NTe1Nt+GntL
      QFLxXIhJ4oHF3cQFsUkvxxx8pcPZYL5yR/0X4sfbM4tCxCKXcp14du7ov/y3ewo3
      giWmk3MgpYQQiHoNBOnZDwECgYAHoKR2U43X821VSWJQ6SZlbLOFsFnoR+5In1i8
      KjyAgtbU86S9wMRdKHmpkzOaPRhiQqi+dxJfByRiNh5RhQHFMUVlHuOx1M5Ymvkk
      JpdWyzYuAfNFsb5EvYeCUtXqVDTZO9fKlNU5Daddg/xmdVoBvn/XH8OAPIpWWoZ9
      BKUX0QKBgQCgzpPrjIWKYlcT3LhvyGHT1cI+dHmyb2qW8olQtvDnXhR1NsShSOKS
      gGK0/Yi2uhgy1+TpQaFNyz08YLt60Y8k1QK1f2JDgdPRaPGaHNeJqLk0yybmB1hG
      yAf5okQWRhanL8rlJdkhTbkvzRwLIk+ApfUB/ixvO0rsApRppU85Qg==
      -----END RSA PRIVATE KEY-----
      
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"