{% extends "main.html" %}

{% block content %}


<div class="col-md-12">
	<a class="btn btn-success" href="#">Start this plan</a>

	{% for routine in routines %}
		<h2>{{routine.name}}</h2>
		<table class="table">
		<thead>
			<th>Excercise</th>
			<th>Target</th>
			<th>Sets</th>
		<thead>
		{% for section in routine.section_set.all %}
			<tr>
				<td>{{section.excercise}}</td>
				<td>{{section.target}}</td>
				<td>{{section.sets}}</td>
			</tr>
		{% endfor %}
		</table>
	{% endfor %}
	</table>

</div>
{% endblock %}