/* Remove the navbar's default margin-bottom and rounded borders */ 
	.navbar {
		margin-bottom: 0;
		border-radius: 0;
	}
	body, html{
		font-family: 'Oswald', sans-serif;
	}
	.jumbotron{
		margin-top: 80px;
	}