{% extends "main.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


  
<h1>Workouts related to the Plan</h1>
<b>Plan {{pk}} selected</b>
<h2>Add new</h2>

<form action="{% url 'gym:routinesection-create' %}" method="post">
	{% csrf_token %}
	<div class="form-group">
	{{form.as_p}}
	<input type="submit" class="btn btn-success form-control" value="Add" />
	</div>
</form>

<h2>Realted workouts</h2>

<table class="table">
<tr>
	<th>Id</th>
	<th>Plan</th>
	<th>Workout</th>
	<th>Delete</th>
	<th>Edit</th>
</tr>
{% for routineSection in routineSections %}
	
    <tr>
		<td>{{ routineSection.id }}</td>
		<td>{{ routineSection.plan.name}}</td>
		<td>{{ routineSection.workout.name}}</td>
		<td><a href="{% url 'gym:routinesection-delete' routineSection.id %}">Delete</a></td>
		<td><a href="{% url 'gym:routinesection-update' routineSection.id %}">Edit</a></td>
	</tr>
{% endfor %}

</table>

</div>

{% endblock %}